.App {
  position: relative; 
  text-align: end;
  margin: 20px;
}

form {
  position: fixed;
  top: 20px; 
  right: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; 
}

form input,
form button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
